body{
    background-color: pink;
    background: url(/Images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.pro-file{
    height: 500px;
    width: 700px;
    background-color: papayawhip;
    margin:50px auto;
    border-radius: 50px;
    /* background: black; */
    /* opacity: .5; */
}
.pro-image{
    text-align: center;
    padding-top: 20px;
    margin-bottom:20px ;
   
}
.pro-image img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.custom-col{
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
}
.custom-col input{
    margin: 10px auto;
    padding: 20px auto;
    height: 30px;
    /* border-radius: 5px; */
    width:250px;
    border: none;
    border-bottom: 1px solid;
}
#btn{
    height: 50px;
    width: 100%;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}
button:hover{
    background-color: blue;
}
.custom-col textarea{
    width: 250px;
    height: 50px;
margin-left: 46px;
margin-top: 11px;  
border-radius: 5px;
}
.custom-col .date{
    margin-left: 95px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .row{
    background-color:black;
    opacity: 0.7;
    
}
.container ul{
    
    list-style: none;
    background-color: chocolate;
   text-align: right;
   
    
}
.container li{
    display: inline-block;
    padding: 25px 25px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transition: all  2s ease-out  ;
}
.container li:hover{
    background-color: black;
    opacity: .5;
    color: white;
    
    
}
#myBtn{
    border-radius: 25px;
    width: 30%;
    height: 40%;
}
input:focus::placeholder{
    color:red;
}
span{
    color: orange;
    text-align: left;
    margin-left: 50px;
}
.span-err{
    margin-left: 270px;
}